<div class="container">
  <div class="row">
    <div class='col-lg-8 offset-lg-2'>
      <h4 class="text-center mb-4 ml-5 mt-5", style="background-color: #eee; width:200px;"><b>会員情報編集</b></h3>

      <%= form_with model: @customer, url: customer_path(@customer), method: :patch, local:true do |f| %>
      <table class='table'>
        <tbody>
          <tr>
            <td class="field">
              <%= f.label :"プロフィール" %>
            </td>
            <td>
              <%= f.file_field :profile_image, accept: "image/*" %>
            </td>
          </tr>
          <tr>
          <tr>
            <td class="field">
              <%= f.label :"氏名" %>
            </td>
            <td>
              <%= f.text_field :last_name, autofocus: true, style: "width:85%", class:"form-control" %>
            </td>
            <td>
              <%= f.text_field :first_name, style: "width:85%", class:"form-control" %>
            </td>
            <td></td>
          </tr>
          <tr>
            <td class="field">
              <%= f.label :"フリガナ" %>
            </td>
            <td>
              <%= f.text_field :last_name_kana, style: "width:85%", class:"form-control" %>
            </td>
            <td>
              <%= f.text_field :first_name_kana, style: "width:85%", class:"form-control" %>
            </td>
            <td></td>
          </tr>
          <tr>
          <tr>
            <td class="field">
              <%= f.label :"メールアドレス" %>
            </td>
            <td>
              <%= f.email_field :email, autocomplete: "email", style: "width:85%", class:"form-control" %>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="offset-3 col-4">
          <%= f.submit "編集内容を保存", class:"btn btn-success btn-block" %>
          <% end %>
        </div>
        <div class="offset-2 col-1">
          <%= form_with model: @customer, url: unsubscribe_path(@customer), method: :get do |f| %>
            <%= f.submit "退会する", class:"btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>