<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-4'>
      <h4 class="text-center mb-5 mx-5 mt-5", style="background-color: #eee; width:200px; padding-left: 12px;">
        <b>マイページ</b>
      </h4>
    <%= render "public/customers/info", customer: @customer %>
    <h4 class="mt-2 mb-4">
    <b class="mr-4">新規投稿</b>
    </h4>
    <%= render "public/books/form", book: @book %>
    </div>
    <div class="col-md-7 offset-md-1 mt-5">
      <h4 class="mt-2 mb-4">
      <b class="mr-4">投稿一覧</b>
      </h4>
      <%= link_to "新しい順", customer_path(sort: 'created_at DESC') %> | <%= link_to "評価の高い順", customer_path(sort: 'rate DESC') %>
      <%= render "public/books/index", books: @books, book: @book, book_comment: @book_comment %>
    </div>

  </div>
</div>
