<h4 class="text-center mt-4", style="background-color: #eee; width:200px; padding-left: 12px;">
  <b>レビューを書く</b>
</h4>

<% if review.errors.any? %>
  <div class="notification danger">
    <h2><%= review.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="rating-box mt-3 ml-3">
   <div class="main-rating">
     <div class="ratings mb-3", style="color: #ffcc00;">
       <span class="fa-regular fa-star" id="star"></span>
       <span class="fa-regular fa-star" id="star"></span>
       <span class="fa-regular fa-star" id="star"></span>
       <span class="fa-regular fa-star" id="star"></span>
       <span class="fa-regular fa-star" id="star"></span>
     </div>
       <div class="rating-value-display"><span id="rating-value-display">0</span>/5</div>
   </div>
</div>
  <%= form_with model: review, url: good_reviews_path(book), local: true do |f| %>
   <%= f.hidden_field :book_id, value: book.id %>
   <%= f.hidden_field :score, id: "rating-value" %>
   <%= f.text_area :content, rows: '5', :placeholder => "レビューをここに", class: "w-100" %>
   <p>
   <%= f.submit "保存", class: "btn btn-success mt-3" %>
   <%= link_to "他のレビューを見る", good_reviews_path(book), class: "btn btn-primary mt-3 ml-3 ml-3" %>
   </p>
  <% end %>

<%= javascript_pack_tag 'reviews.js' %>