<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 mt-5">
        <div class="card mb-6">
          <header class="card-header">
            <p class="card-header-title">
              <%= @book.title %>
            </p>
          </header>
          <div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="color: #ffcc00; <%= @book.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back" style="color: #ffcc00;">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                <%= @book.avg_score %>点（<%= @book.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
        <table class="table fullwidth text-center">
          <thead>
            <tr>
              <th>ユーザー</th><th>点数</th><th>内容</th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td><%= review.customer.full_name %></td>
                <td><%= review.score %></td>
                <td><%= review.content %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>