<div id="star_<%= good.id %>" class="form-group"></div>
<script>
$(document).on('turbolinks:load', function() {
  $('#star_<%= good.id %>').empty();
  $('#star_<%= good.id %>').raty({
    size: 20,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    score: "review.avg_score",
  });
});
</script>