<div class="row justify-content-center">
 <%= form_with url: search_path, method: :get, local: true do |f| %>
  <%= f.text_field :title, placeholder: "作品名・作者名で検索", value: params[:title], class: "w-100" %>
  <%= f.submit "検索", class: "btn btn-primary"  %>
 <% end %>   
</div>

<h4 class="text-center mt-4 ml-5 mb-3", style="background-color: #eee; width:200px; padding-left: 12px;">
    <b>検索結果</b>
</h4>

<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="wrap">
        <div class="item justify-content-center mt-1 row" style="display: flex;">
          <% @books.first(8).each do |book| %>
            <div class="col-3">
              <%= link_to good_path(book.id) do %>
              <div class="mr-3 mt-3">
                <%= image_tag book.image_url, size: "200x200" %>
              <div><%= book.title %></div>
              <div><%= book.author %></div>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
       <div class="row">
          <div class="col-lg-8 offset-lg-4 mt-3 mb-3 text-nowrap text-right ">
            <%= link_to "全てを見る>>", search_index_result_goods_path %>
       </div>
      </div>
    </div>
  </div>
</div>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>作者</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to good_path(book.id) do %>
        <%= image_tag book.image_url, size: "200x200" %></td>
        <td class="align-middle"><%= book.title %></td>
        <td class="align-middle"><%= book.author %></td>
        <% end %>
       <% end %>
      </tr>
  </tbody>
</table>
<div class="row justify-content-center mb-5">
   <%= paginate @books %>
</div>

