<section class="section">
 <div class="container">
  <div class="row">
   <div class="col mb-3">
    <h4 class="text-center mt-4 ml-5", style="background-color: #eee; width:200px; padding-left: 12px;">
        <b>検索履歴</b>
    </h4>
    <% @books.each do |book| %>
    <div class="card-deck">
    <div class="card mt-4 text-center">
    <header class="card-header">
     <p class="card-header-title">
       <%= book.title %>
     </p>
    </header>
    <div class="card-body">
      <%= link_to book_path(book.id) do %>
        <%= image_tag book.image_url, size: '200x200' %>
       <div class="mt-3">
        <%= book.author %>
       </div>
       <% end %>
       <p class="mt-2"><%= book.item_caption %></p>
     <div class="content">
      <div class="content average-score">
       <div class="star-rating mb-2">
        <div class="star-rating-front", style="color: #ffcc00; <%= book.review_score_percentage %>%">★★★★★</div>
        <div class="star-rating-back", style="color: #ffcc00;">★★★★★</div>
       </div>
       <div class="average-score-display ml-3 pt-2">
        <%= book.avg_score %>点 (<%= book.reviews.count %>件のレビュー)
       </div>
      </div>
     </div>
    </div>
    <footer class="card-footer">
     <div class="row center-block text-center">
      <div class="col-md-6">
       <%= link_to book_reviews_path(book) do %>
        レビューを見る
       <% end %>
        </div>
        <div class="col-md-6">
       <%= link_to book_path(book), class: "button" do %>
        レビューを書く
       <% end %>
      </div>
    </footer>
   </div>
  </div>
  <% end %>
  </div>
 </div>
</div>
</section>
