<div class="container">
  <div class="row">
    <div class="col mt-2">
      <h4 class="text-center mt-4 ml-3", style="background-color: #eee; width:200px; padding-left: 12px;">
        <b>投稿詳細</b>
      </h4>

      <section class="mt-4" style="top:50px;">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p><%= image_tag @book.get_image, size: '300x300' %></p>
            </div>
            <div class="col-md-8 text-left">
              <p class="pt-3">タイトル : <%= @book.title %></p>
              <p>内容紹介 : <%= @book.body %></p>
              <p>タグ :
                <%# 該当のBookからアソシエーションでタグを取得 %>
                <% @book.tags.each do |tag| %>
                  <%# タグを展開 %>
                    <%= link_to tag.name, tags_path %>
                <% end %>
              </p>
              <p><%= render "public/books/static_rate", book: @book %></p>
              <p><%= render "public/book_comments/form", book: @book, book_comment: @book_comment %></p>
              <div class="mt-2 mb-4">
              <h4 class="mr-1"><b>コメント</b></h4>
              <div class="book-comments-counter"><%= render "public/book_comments/counter", book: @book, book_comment: @book_comment %></div>
              <div class="book-comments-index"><%= render "public/book_comments/index", book: @book %></div>
               <%= link_to "全て見る>>", book_book_comments_path(@book) %>
             <div class="text-right">
               <%= link_to "戻る", customer_path(current_customer), class: "btn btn-primary mb-5" %>
             </div>
            </div>
          </div>
        </div>
      </section>
     </div>
    </div>




