<div class="container">
  <div class="row">
    <div class="col mt-2">
      <h4 class="text-center mt-4 ml-3", style="background-color: #eee; width:200px; padding-left: 12px;">
        <b>投稿詳細</b>
      </h4>

      <section class="mt-4" style="top:50px;">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p><%= image_tag @book.get_image, size: '300x300' %></p>
            </div>
            <div class="col-md-8 text-left">
              <p class="pt-3">タイトル : <%= @book.title %></p>
              <p>説明 : <%= @book.body %></p>
              <p><%= render "public/books/static_rate", book: @book %></p>
              <p><%= render "public/book_comments/form", book: @book, book_comment: @book_comment %></p>
              <h4 class="mt-2 mb-4">
              <b class="mr-4">コメント一覧</b>
              </h4>
              <div class="book-comments-index"><%= render "public/book_comments/index", book: @book %></div>
             <div class="text-right">
               <%= link_to "戻る", customer_path(current_customer), class: "btn btn-primary" %>
             </div>
            </div>
          </div>
        </div>
      </section>
     </div>
    </div>



