<!DOCTYPE html>
<html>
  <head>
    <title>ComicReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script src="https://kit.fontawesome.com/7af3bdf8d7.js" crossorigin="anonymous"></script>
  </head>

  <body>
   <header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark", style="background-color: #000;">
      <div class="container">
        <a class="navbar-brand text-light " href="/">
        </a>
        <div class="text-light ml-md-2 ml-lg-5">
          <% if customer_signed_in? %>
           ようこそ、<%= current_customer.last_name %>さん!
          <% end %>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
         aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
              <li>
                <%= link_to about_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-home"></i> マイページ
                <% end %>
              </li>
              <li>
                <%= link_to about_path, class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-magnifying-glass"></i>商品一覧
                <% end %>
              </li>
              <li>
                <%= link_to about_path, class:'nav-link text-light' do %>
                  <i class="fa-solid fa-bag-shopping"></i> カート
                <% end %>
              </li>
              <li>
                <%= link_to destroy_customer_session_path, method: :delete, class:'nav-link text-light' do %>
                  <i class="fas fa-sign-out-alt"></i> ログアウト
                <% end %>
              </li>

            <% else %>
              <li>
                <%= link_to about_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-link"></i> About
                <% end %>
              </li>
              <li>
                <%= link_to about_path, class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-magnifying-glass"></i>商品一覧
                <% end %>
              </li>
                <%= link_to new_customer_registration_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-user-plus"></i> 新規登録
                <% end %>
              <li>
                <%= link_to new_customer_session_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-in-alt"></i> ログイン
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
    <nav class="navbar navbar-expand-lg navbar-dark", style="background-color: #666;">
      <div class="container">
         <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li>
              <%= link_to root_path,class: 'nav-link text-light' do %>
                <i class="fas fa-sign-in-alt"></i> Top
              <% end %>
            </li>
            <li>
              <%= link_to books_path,class: 'nav-link text-light' do %>
                <i class="fas fa-sign-in-alt"></i> 検索履歴
              <% end %>
              </li>
            <li>
              <%= link_to about_path,class: 'nav-link text-light' do %>
                <i class="fas fa-sign-in-alt"></i> Topic
              <% end %>
            </li>
          </ul>
    </nav>
   <%= yield %>
 </body>
</html>
